<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>간단한 게시판</title>
</head>
<body>
<h2>게시글 목록</h2>
<button id="writeBtn">글 작성하기</button>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>제목</th>
        <th>내용</th>
        <th>정보</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.idx}"></td>
        <td th:text="${board.title}"></td>


        <!--        실헐중-->
        <!--        <td>-->
        <!--            <a th:href="@{/board/{id}(id=${board.idx})}" th:text="${board.title}"></a>-->
        <!--        </td>-->
        <td th:text="${board.content}"></td>
        <td>
            <a th:href="@{/boardinfo/(boardIdx=${board.idx})}">
            <button class="info-btn">정보</button>
            </a>
        </td>
        <td>
            <button class="del-btn">삭제</button>
        </td>
    </tr>
    </tbody>

</table>
</body>

<script>

    // 글쓰기 페이지 이동
    document.getElementById("writeBtn").addEventListener("click", function () {
        window.location.href = "/boardWrite";
    });

    // 게시글의 idx 만 보내기 (상세정보보기)
    $(document).ready(function () {
        // 정보 버튼 클릭 시 이벤트 핸들러 등록
        $(".info-btn").click(function () {
            // 모델에 저장된 boardinfo의 idx 가져오기
            var boardIdx = $(this).closest("tr").find("td:first-child").text();
            console.log(boardIdx);
            $.ajax({
                url: "boardinfo",
                type: "GET",
                data: {
                    boardIdx
                },

                success: function (response) {
                    console.log("전송 성공");
                    // console.log(response);
                    // window.location.href = "/boardinfo?boardIdx=" + boardIdx;
                    window.location.href = "/boardinfo";
                },

                error: function (xht, status, error) {
                    console.log("실패");
                }
            })

        });
    });


</script>
</html>
