<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>간단한 게시판</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 style="text-align: center">* 진영 월드 *</h2>
    <button id="writeBtn" class="btn btn-primary">글 작성하기</button>
    <table class="table">
        <thead>
        <tr>
            <th>No.</th>
            <th>제목</th>
            <th>내용</th>
            <th>정보</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.idx}"></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.content}"></td>
            <td>
                <a th:href="@{/boardinfo/(boardIdx=${board.idx})}">
                    <button class="btn btn-info">정보</button>
                </a>
            </td>
            <td>
                <a th:href="@{/delBoard/(boardIdx=${board.idx})}">
                <button class="btn btn-danger del-btn">삭제</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script>

    // 글쓰기 페이지 이동
    document.getElementById("writeBtn").addEventListener("click", function () {
        window.location.href = "/boardWrite";
    });

    // 게시글의 idx 만 보내기 (상세정보보기)
    $(document).ready(function () {
        // 정보 버튼 클릭 시 이벤트 핸들러 등록
        $(".info-btn").click(function () {
            // 모델에 저장된 boardinfo의 idx 가져오기
            var boardIdx = $(this).closest("tr").find("td:first-child").text();
            console.log(boardIdx);
            $.ajax({
                url: "boardinfo",
                type: "GET",
                data: {
                    boardIdx
                },

                success: function (response) {
                    console.log("전송 성공");
                    // console.log(response);
                    // window.location.href = "/boardinfo?boardIdx=" + boardIdx;
                    window.location.href = "/boardinfo";
                },

                error: function (xht, status, error) {
                    console.log("실패");
                }
            })

        });
    });

    $(document).ready(function() {
        $(".del-btn").click(function () {
            var boardIdx = $(this).closest("tr").find("td:first-child").text();
            console.log(boardIdx);

            var result = confirm("삭제하시겠습니까?");


            if(result === true) {
                $.ajax({
                    url: "delBoard",
                    type: "POST",
                    data: {
                        boardIdx
                    },

                    success: function () {
                        console.log("전송되었고, 삭제")
                        alert("삭제 되었습니다");
                        location.reload();

                    },

                    error: function (xhr, status, error) {
                        console.log("실패.");
                    }
                })
            }
            else
                alert("삭제가 취소되었습니다.");

            return false;

        });
    })


</script>
</html>
