<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>회원가입</title>
  <style>
    /* 화면 중앙 정렬을 위한 스타일 */
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    /* label 태그 크기 동일하게 설정을 위한 스타일 */
    label {
      display: inline-block;
      width: 80px; /* 원하는 라벨의 너비 설정 */
      text-align: right;
      margin-right: 10px; /* 라벨과 입력 필드 사이의 간격 설정 */
    }

    /* 입력 필드 간에 간격 설정 */
    input[type="text"],
    input[type="password"] {
      margin-bottom: 10px;
    }
  </style>

  <script>
    // 회원가입 버튼 클릭 시 페이지 이동
    function goToUserAddPage() {
      window.location.href = "/login";
    }
  </script>
</head>
<body>
<div class="container">
  <form action="/signup" method="post">
    <h1 style="text-align: center;">회원가입</h1>
    <label for="id">아이디:</label>
    <input type="text" id="id" name="id" required><br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="passwd" required><br>
    <label for="name">이름:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="address">주소:</label>
    <input type="text" id="address" name="addr" required><br>
    <label for="nickname">별명:</label>
    <input type="text" id="nickname" name="nick" required><br>
    <label for="nickname">손님(0)/업주(1):</label>
    <input type="text" id="owner" name="owner" required><br>
    <input type="submit" value="가입하기">
    <input type="reset" value="취소하기" onclick="goToUserAddPage()">
  </form>
</div>
</body>
</html>
